#========================================================================================

[main]

debug = false

#========================================================================================

[receive]

target = ipc
prefix = L
name = Camera
frame_width = 2046
frame_height = 1544

#========================================================================================

[send]

target = ipc
prefix = Out
name = Channel

#========================================================================================

[logs]

need_trace = false
need_shared = true
shared_name = $$FULL_APP.log
need_leveled = true
leveled_path = $$APP_PATH/logs
file_sizes = 1e6
rotates = 3

#========================================================================================

