#========================================================================================

[main]

debug = false
rotate = 180

#========================================================================================

[receive]

target = ipc
prefix1 = L
name1 = Camera
prefix2 = R
name2 = Camera

#========================================================================================

[logs]

need_trace = false
need_shared = true
shared_name = $$FULL_APP.log
need_leveled = true
leveled_path = $$APP_PATH/logs
file_sizes = 1e6
rotates = 3

#========================================================================================

